{% extends "layouts/default.html" %}

{% block mainclass %}movie-details{% endblock %}

{% block main %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron movie-details">
  <div class="container" style="background-image: url(/assets/avengers_infinity_war_4.jpg);">
    <h1 class="display-3">Avengers: Infinity War</h1>
    <div class="cert cert-12">cert</div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <span class="badge badge-info">Runtime: 2hr 30min</span>
      <span class="badge badge-success">Director: Anthony Russo, Joe Russo</span>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p>
        As the Avengers and their allies have continued to protect the world from threats too large for any one hero to handle, a new danger has emerged from the cosmic shadows: Thanos. A despot of intergalactic infamy, his goal is to collect all six Infinity Stones, artifacts of unimaginable power, and use them to inflict his twisted will on all of reality. Everything the Avengers have fought for has led up to this moment - the fate of Earth and existence itself has never been more uncertain.   </p>
      <p>
        <b>Staring:</b>
        <p>Letitia Wright    ...    Shuri</p>
<p>Chadwick Boseman    ...    T'Challa / Black Panther</p>
<p>Danai Gurira    ...    Okoye</p>
<p>Winston Duke    ...    M'Baku</p>
<p>Chris Hemsworth    ...    Thor</p>
      </p>
    </div>
    <div class="col">
      <p>
        <b>Release Date: 27th April 2018</b>
      </p>
  
    </div>
  </div>

  <div class="row">
    <div class="col">
      sdasdas
    </div>
  </div>
</div>
{% endblock %}
