{% extends "layouts/default.html" %}

{% block mainclass %}movie-details{% endblock %}

{% block main %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron movie-details">
  <div class="container" style="background-image: url(/assets/peterRabbitFull.jpg);">
    <h1 class="display-3">[[ movieTitle ]]</h1>
    <div class="cert cert-PG">cert</div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <span class="badge badge-info">Runtime: 1hr 35m</span>
      <span class="badge badge-success">Director: Will Gluck</span>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p>
        Feature adaptation of Beatrix Potter's classic tale of a rebellious rabbit trying to sneak into a farmer's vegetable garden.
      </p>
      <p>
        <b>Staring:</b>
        James Corden, Fayssal Bazzi, Domhnall Gleeson, Sia and Colin Moody
      </p>
    </div>
    <div class="col">
      <p>
        <b>Release date: 9th March 2018</b>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      sdasdas
    </div>
  </div>
</div>
{% endblock %}
