{% extends "layouts/default.html" %}

{% block mainclass %}movie-details{% endblock %}

{% block main %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron movie-details">
  <div class="container" style="background-image: url(/assets/you were never really here.jpg);">
    <h1 class="display-3">[[ movieTitle ]]</h1>
    <div class="cert cert-15">cert</div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <span class="badge badge-info">Runtime: 1hr 25m</span>
      <span class="badge badge-success">Director: Lynne Ramsay</span>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p>
      A traumatised veteran, unafraid of violence, tracks down missing girls for a living. When a job spins out of control, Joe's nightmares overtake him as a conspiracy is uncovered leading to what may be his death trip or his awakening.      </p>
      <p>
        <b>Staring:</b>
        Joaquin Phoenix, Dante Pereira-Olson, Larry Canady, Vinicius Damasceno and Neo Randall
      </p>
    </div>
    <div class="col">
      <p>
        <b>Release date: 6th April 2018</b>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      sdasdas
    </div>
  </div>
</div>
{% endblock %}
