{% extends "layouts/default.html" %}

{% block mainclass %}movie-details{% endblock %}

{% block main %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron movie-details">
  <div class="container" style="background-image: url(/assets/PlackPantherFull.jpg);">
    <h1 class="display-3">[[ movieTitle ]]</h1>
    <div class="cert cert-12a">cert</div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <span class="badge badge-info">Runtime: 1hr 15m</span>
      <span class="badge badge-success">Director: Darren Aronofsky</span>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p>
        Things happen, someone dies (i.e. plotline)
      </p>
      <p>
        <b>Staring:</b>
        Joe, Bob and Sue
      </p>
    </div>
    <div class="col">
      <p>
        <b>Show times:</b>
      </p>
      <ul>
        <li>17:20pm</li>
        <li>18:355pm</li>
        <li>19:00pm</li>
        <li>20:50pm</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col">
      sdasdas
    </div>
  </div>
</div>
{% endblock %}
