{% extends "layouts/default.html" %}

{% block main %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">

</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Listings</h2>
      <p>Have a look to see what we're currently showing.</p>
      <p><a class="btn btn-secondary" href="/listings" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Opening Times</h2>
      <p>We're open every day, 10am to 11pm.</p>
      <p>You'll find us at in the Orange quadrant in Gateshead Metrocentre.</p>
      <!--<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>-->
    </div>
    <div class="col-md-4">
      <h2>How To Book</h2>
      <p>To reserve your seats, give us a call on <span style="white-space:nowrap;">0845 123 4567</span> with your credit card details.</p>
      <p>All tickets are £5.</p>
      <!--<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>-->
    </div>
  </div>

  <hr>

</div> <!-- /container -->


{% endblock %}
