{% extends "layouts/default.html" %}

{% block mainclass %}listings{% endblock %}

{% block main %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<!--<div class="jumbotron listings">
  <div class="container">
    <h1 class="display-3">Coming Soon</h1>
    <p>We'll be filling in more details here soon. Watch this space!</p>
  </div>
</div>-->

<div class="album py-5 bg-light">
  <div class="container">

    <div class="row">

    <div class="col-md-6">
      <div class="card mb-5 box-shadow">
        <a href="/listings/3"><img class="card-img-top" src="/assets/coco3.jpg" alt="Card image cap"></a>
        <div class="card-body">
          <p class="card-text"><b>Coco</b></p>
          <p class="card-text">Ignoring his family’s baffling ban on music, Miguel embarks on a journey through the enchanting Land of the Dead in search of his dreams of becoming a musician. </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group classification">
              U
            </div>
            <small class="text-muted">1h 49 mins</small>
          </div>
        </div>
      </div>
    </div>

      <div class="col-md-6">
        <div class="card mb-5 box-shadow">
          <a href="/listings/2"><img class="card-img-top" src="/assets/PlackPantherFull.jpg" alt="Card image cap"></a>
          <div class="card-body">
          <p class="card-text"><b>Black Panther</b></p>
            <p class="card-text">With the King of Wakanda now dead, his son T’Challa must return home to take his rightful place on the throne. But, it’s going to be a bumpy ride, as an evil faction has other plans for the country’s future. </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group classification">
                12A
              </div>
              <small class="text-muted">2hr 14mins</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card mb-5 box-shadow">
          <a href="/listings/0"><img class="card-img-top" src="/assets/DenOfThievesFull.jpg" alt="Card image cap"></a>
          <div class="card-body">
            <p class="card-text"><b>Den of Thieves</b></p>
            <p class="card-text">A gritty crime saga which follows the lives of an elite unit of the LA County Sheriff's Dept. and the state's most successful bank robbery crew as the outlaws plan a seemingly impossible heist on the Federal Reserve Bank.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group classification">
                15
              </div>
              <small class="text-muted">2hr 20mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-5 box-shadow">
          <a href="/listings/1"><img class="card-img-top" src="/assets/shape_of_water3.jpg" alt="Card image cap"></a>
          <div class="card-body">
            <p class="card-text"><b>Shape of Water</b></p>
            <p class="card-text">At a top secret research facility in the 1960s, a lonely janitor forms a unique relationship with an amphibious creature that is being held in captivity</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group classification">
                15
              </div>
              <small class="text-muted">2hr 3mins</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
