{% extends "layouts/default.html" %}

{% block mainclass %}listings{% endblock %}

{% block main %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<!--<div class="jumbotron listings">
  <div class="container">
    <h1 class="display-3">Coming Soon</h1>
    <p>We'll be filling in more details here soon. Watch this space!</p>
  </div>
</div>-->

<div class="album py-5 bg-light">
  <div class="container">

    <div class="row">
      <div class="col-md-5">
        <div class="card mb-5 box-shadow">
          <a href="/listings/0"><img class="card-img-top" src="/assets/listing-0.png" alt="Card image cap"></a>
          <div class="card-body">
            <p class="card-text">A sophisticated group of bank robbers meet their match when a team of elite cops are sent in to take them down.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group classification">
                18
              </div>
              <small class="text-muted">2hr 20mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="card mb-5 box-shadow">
          <a href="/listings/1"><img class="card-img-top" src="/assets/listing-1.png" alt="Card image cap"></a>
          <div class="card-body">
            <p class="card-text"><b>Coco</b></p>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group classification">
                18
              </div>
              <small class="text-muted">1hr 45mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="card mb-5 box-shadow">
          <a href="/listings/2"><img class="card-img-top" src="/assets/PlackPantherFull.jpg" alt="Card image cap"></a>
          <div class="card-body">
          <p class="card-text"><b>Black Panther</b></p>
            <p class="card-text">With the King of Wakanda now dead, his son T’Challa must return home to take his rightful place on the throne. But, it’s going to be a bumpy ride, as an evil faction has other plans for the country’s future. </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group classification">
                12A
              </div>
              <small class="text-muted">2hr 14mins</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-5">
        <div class="card mb-5 box-shadow">
          <a href="/listings/3"><img class="card-img-top" src="/assets/coco3.jpg" alt="Card image cap"></a>
          <div class="card-body">
            <p class="card-text">Ignoring his family’s baffling ban on music, Miguel embarks on a journey through the enchanting Land of the Dead in search of his dreams of becoming a musician. </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group classification">
                U
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
