{% extends "layouts/default.html" %}

{% block mainclass %}listings{% endblock %}

{% block main %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<!--<div class="jumbotron listings">
  <div class="container">
    <h1 class="display-3">Coming Soon</h1>
    <p>We'll be filling in more details here soon. Watch this space!</p>
  </div>
</div>-->

<div class="album py-5 bg-light">
  <div class="container">

    <div class="row">

      <div class="col-md-6">
        <div class="card mb-5 box-shadow">
          <img class="card-img-top" src="/assets/peterRabbitFull.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text"><b>Peter Rabbit</b></p>
            <p class="card-text">Feature adaptation of Beatrix Potter's classic tale of a rebellious rabbit trying to sneak into a farmer's vegetable garden.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group classification">
                U
              </div>
              <small class="text-muted">1h 49 mins</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card mb-5 box-shadow">
          <img class="card-img-top" src="/assets/Pacific_rim_uprising_3.jpg" alt="Card image cap">
          <div class="card-body">
          <p class="card-text"><b>Pacific Rim 3</b></p>
            <p class="card-text">The globe-spanning conflict between otherworldly monsters of mass destruction and the human-piloted super-machines built to vanquish them was only a prelude to the all-out assault on humanity in Pacific Rim Uprising</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group classification">
                12A
              </div>
              <small class="text-muted">2hr 14mins</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card mb-5 box-shadow">
          <img class="card-img-top" src="/assets/avengers_infinity_war_4.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text"><b>Avengers Infinity Wars</b></p>
            <p class="card-text">As the Avengers and their allies have continued to protect the world from threats too large for any one hero to handle, a new danger has emerged from the cosmic shadows: Thanos.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group classification">
                15
              </div>
              <small class="text-muted">2hr 20mins</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card mb-5 box-shadow">
          <img class="card-img-top" src="/assets/you were never really here.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text"><b>You were Never Really Here</b></p>
            <p class="card-text">A traumatised veteran, unafraid of violence, tracks down missing girls for a living.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group classification">
                15
              </div>
              <small class="text-muted">2hr 3mins</small>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}
