/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

.jumbotron {
  background-color: transparent;
  height: 450px;
}

main {
  background: url(/assets/qacv5.png);
  background-size: cover;
}

footer {
  padding: 1em 0;
}

.col-md-4 {
  background-color: rgba(255, 255, 255, 0.60);
  transition: background-color 0.25s;
}

.col-md-4:hover {
  background-color: rgba(255, 255, 255, 1);
}

.jumbotron.listings {
  height: 200px;
}

.jumbotron.listings .container {
  background: rgba(255, 255, 255, 0.70);
  height: 100%;
}

main.listings, main.movie-details {
  background-image: url(/assets/qacv5-dark.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: black;
}


.jumbotron.coming-soon .container {
  background: rgba(255, 255, 255, 0.70);
  height: 100%;
}

.album {
  background-color: transparent !important;
}

.card.mb-5 {
  background-color: rgba(255, 255, 255, 0.80);
}

.card-img-top {
  max-height: 256px;
}

.card-body {
  min-height: 230px;
}



.jumbotron.movie-details {
  margin-bottom: 0;
}

.jumbotron.movie-details .container {
  height: 100%;
  background: rgba(255, 255, 255, 0.50);
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.jumbotron.movie-details .container h1 {
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.80);
  font-size: 4em;
}

.jumbotron.movie-details .container .cert {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 1em;
  width: 64px;
  height: 64px;
  background-size: contain;
  text-indent: -99999px;
  background-repeat: no-repeat;
}

.cert-12a { background-image: url(/assets/cert_12a.png); }
.cert-15 { background-image: url(/assets/cert_15.png); }
.cert-pg { background-image: url(/assets/cert_pg.png); }
.cert-u { background-image: url(/assets/cert_u.png); }

main.movie-details > .container {
  background: rgba(255, 255, 255, 0.80);
}

main.movie-details > .container > .row {
  padding: 1em;
}
