/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

.jumbotron {
  background-color: transparent;
  height: 450px;
}

main {
  background: url(/assets/qacv5.png);
  background-size: cover;
}

.col-md-4 {
  background-color: rgba(255, 255, 255, 0.80);
  transition: background-color 0.25s;
}

.col-md-4:hover {
  background-color: rgba(255, 255, 255, 1);
}

.jumbotron.listings {
  height: 200px;
}

.jumbotron.listings .container {
  background: rgba(255, 255, 255, 0.70);
  height: 100%;
}

main.listings {
  background-image: url(/assets/qacv5-dark.png);
}


.jumbotron.coming-soon .container {
  background: rgba(255, 255, 255, 0.70);
  height: 100%;
}

.album {
  background-color: transparent !important;
}

.card.mb-5 {
  background-color: rgba(255, 255, 255, 0.80);
}

.card-img-top {
  max-height: 256px;
}
